# Игнорировать конфигурационные файлы с токенами, ключами и паролями
config.py
sa_key.json
e.env
db.py
get_iam_token.py

# Игнорировать файлы логов и временные файлы
*.log
*.tmp
*.swp
*.bak

# Игнорировать системные и IDE-файлы
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/

# Игнорировать виртуальное окружение (если создаётся в папке проекта)
venv/
env/